<!DOCTYPE html>
<html>
    <head>
        <title>Guess The Number</title>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    </head>
    <body class="text-center">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Guess The Number</a>
        </nav>
        <main>
            <h1 class="banner p-3">1, 2, 3</h1>
            <h2 div id="ai-text">🤖 the AI has picked a number... Good luck cracking it 🕵️‍♂️!</h2>
            <p>
                Pick numbers from {{ '{:,}'.format(<built-in function min>) }} to
                {{ '{:,}'.format(<built-in function max>) }} inclusive!
            </p>
            <form action="/" method="post">
                <input id="number-guess"
                       class="form-control form-control-lg"
                       type="number"
                       placeholder="What's your guess?"
                       name="number_guess"
                       required
                       autofocus
                       max="{{ max }}"
                       min="{{ min }}" />
                <button type="submit"
                        pys-onclick="checkNumber"
                        id="number-submit"
                        class="btn btn-lg btn-secondary">Check number</button>
            </form>
            <div class="guesses">
                {% for guess in guesses[::-1] %}
                    <p class="guess
                              {% if 'high' in guess %}
                                  red
                              {% elif 'low' in guess %}
                                  yellow
                              {% else %}
                                  green
                              {% endif %}">{{ guess }}</p>
                {% endfor %}
            </div>
        </main>
    </body>
</html>
